api-static/workflows/4127.json
{
  "id": 4127,
  "filename": "0016_Manual_Googleslides_Automate_Triggered.json",
  "name": "Manual Googleslides Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, GoogleSlides with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "ManualTrigger",
    "GoogleSlides"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "cfb794c01e5337fbe6007be91c7d55e0",
  "file_size": 1715,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          270,
          280
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Google Slides",
        "type": "n8n-nodes-base.googleSlides",
        "position": [
          470,
          280
        ],
        "parameters": {
          "operation": "getSlides",
          "returnAll": true,
          "authentication": "oAuth2",
          "presentationId": "11myCBTn3IT-Iww01WMz43L7HUmQdL6cCR6NCtpsZer0"
        },
        "credentials": {
          "googleSlidesOAuth2Api": "Google Slides Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Google Slides1",
        "type": "n8n-nodes-base.googleSlides",
        "position": [
          670,
          280
        ],
        "parameters": {
          "download": true,
          "resource": "page",
          "operation": "getThumbnail",
          "pageObjectId": "={{$json[\"objectId\"]}}",
          "authentication": "oAuth2",
          "presentationId": "={{$node[\"Google Slides\"].parameter[\"presentationId\"]}}"
        },
        "credentials": {
          "googleSlidesOAuth2Api": "Google Slides Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Google Slides": {
        "main": [
          [
            {
              "node": "Google Slides1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Google Slides",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
