api-static/workflows/4148.json
{
  "id": 4148,
  "filename": "0037_Manual_Googlebooks_Create_Triggered.json",
  "name": "Get a volume and add it to your bookshelf",
  "workflow_id": "107",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, GoogleBooks with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "GoogleBooks"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "ca39dee1b0d79d0d7bcd7268211d51d9",
  "file_size": 2310,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "107",
    "name": "Get a volume and add it to your bookshelf",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          260,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Google Books",
        "type": "n8n-nodes-base.googleBooks",
        "position": [
          460,
          300
        ],
        "parameters": {
          "resource": "volume",
          "volumeId": "XxUJ2U2FXtYC",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleBooksOAuth2Api": "google-books"
        },
        "typeVersion": 1
      },
      {
        "name": "Google Books1",
        "type": "n8n-nodes-base.googleBooks",
        "position": [
          660,
          300
        ],
        "parameters": {
          "shelfId": "2",
          "resource": "bookshelfVolume",
          "volumeId": "={{$node[\"Google Books\"].json[\"id\"]}}",
          "operation": "add",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleBooksOAuth2Api": "google-books"
        },
        "typeVersion": 1
      },
      {
        "name": "Google Books2",
        "type": "n8n-nodes-base.googleBooks",
        "position": [
          860,
          300
        ],
        "parameters": {
          "shelfId": "={{$node[\"Google Books1\"].parameter[\"shelfId\"]}}",
          "resource": "bookshelfVolume",
          "myLibrary": true,
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleBooksOAuth2Api": "google-books"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Google Books": {
        "main": [
          [
            {
              "node": "Google Books1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Books1": {
        "main": [
          [
            {
              "node": "Google Books2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Google Books",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
