api-static/workflows/4221.json
{
  "id": 4221,
  "filename": "0110_Manual_Humanticai_Create_Webhook.json",
  "name": "Create, update, and get a profile in Humantic AI",
  "workflow_id": "127",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, HumanticAi, HttpRequest with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "ManualTrigger",
    "HumanticAi",
    "HttpRequest"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "e3f2dcd364eed9dedd95e6af2c3ce3de",
  "file_size": 2676,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "127",
    "name": "Create, update, and get a profile in Humantic AI",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          290,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Humantic AI",
        "type": "n8n-nodes-base.humanticAi",
        "position": [
          490,
          300
        ],
        "parameters": {
          "userId": "https://www.linkedin.com/in/harshil1712/"
        },
        "credentials": {
          "humanticAiApi": "humantic"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          690,
          300
        ],
        "parameters": {
          "url": "",
          "options": {},
          "responseFormat": "file"
        },
        "typeVersion": 1
      },
      {
        "name": "Humantic AI1",
        "type": "n8n-nodes-base.humanticAi",
        "position": [
          890,
          300
        ],
        "parameters": {
          "userId": "={{$node[\"Humantic AI\"].json[\"results\"][\"userid\"]}}",
          "operation": "update",
          "sendResume": true
        },
        "credentials": {
          "humanticAiApi": "humantic"
        },
        "typeVersion": 1
      },
      {
        "name": "Humantic AI2",
        "type": "n8n-nodes-base.humanticAi",
        "position": [
          1090,
          300
        ],
        "parameters": {
          "userId": "={{$node[\"Humantic AI\"].json[\"results\"][\"userid\"]}}",
          "options": {
            "persona": [
              "hiring"
            ]
          },
          "operation": "get"
        },
        "credentials": {
          "humanticAiApi": "humantic"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Humantic AI": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Humantic AI1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Humantic AI1": {
        "main": [
          [
            {
              "node": "Humantic AI2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Humantic AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
