api-static/workflows/4231.json
{
  "id": 4231,
  "filename": "0120_Manual_GoogleSheets_Automate_Triggered.json",
  "name": "Manual GoogleSheets Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Dropcontact, GoogleSheets, +1 more with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "Dropcontact",
    "GoogleSheets",
    "Lemlist"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "cf374a8bf1846c53c8cdfa85280791a3",
  "file_size": 2880,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Dropcontact",
        "type": "n8n-nodes-base.dropcontact",
        "position": [
          650,
          300
        ],
        "parameters": {
          "email": "={{$json[\"email\"]}}",
          "options": {
            "siren": true,
            "language": "fr"
          },
          "additionalFields": {
            "company": "={{$json[\"companyName\"]}}",
            "website": "={{$json[\"website\"]}}",
            "linkedin": "={{$json[\"LinkedIn\"]}}",
            "full_name": "={{$json[\"fullName\"]}}",
            "last_name": "={{$json[\"lastName\"]}}",
            "first_name": "={{$json[\"firstName\"]}}"
          }
        },
        "credentials": {
          "dropcontactApi": {
            "id": "6",
            "name": ""
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          450,
          300
        ],
        "parameters": {
          "range": "A:K",
          "options": {
            "continue": false
          },
          "sheetId": "",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "7",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Lemlist",
        "type": "n8n-nodes-base.lemlist",
        "position": [
          850,
          300
        ],
        "parameters": {
          "email": "={{$node[\"Dropcontact\"].json[\"email\"][0][\"email\"]}}",
          "resource": "lead",
          "campaignId": "",
          "additionalFields": {
            "lastName": "={{$node[\"Dropcontact\"].json[\"last_name\"]}}",
            "firstName": "={{$node[\"Dropcontact\"].json[\"first_name\"]}}",
            "companyName": "={{$node[\"Dropcontact\"].json[\"company\"]}}"
          }
        },
        "credentials": {
          "lemlistApi": {
            "id": "9",
            "name": "Lemlist account"
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Dropcontact": {
        "main": [
          [
            {
              "node": "Lemlist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "Dropcontact",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
