api-static/workflows/4247.json
{
  "id": 4247,
  "filename": "0136_HTTP_Googlefirebaserealtimedatabase_Update_Webhook.json",
  "name": "Receive updates for the position of the ISS every minute and push it to a database",
  "workflow_id": "134",
  "active": 0,
  "description": "Scheduled workflow integrating Cron, HttpRequest, Set, +1 more with 4 nodes (low complexity)",
  "trigger_type": "Scheduled",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "Cron",
    "HttpRequest",
    "Set",
    "GoogleFirebaseRealtimeDatabase"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "d5b4f5baee34954c99c4ca99f3f27cb9",
  "file_size": 2882,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "134",
    "name": "Receive updates for the position of the ISS every minute and push it to a database",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          550,
          300
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          750,
          300
        ],
        "parameters": {
          "url": "https://api.wheretheiss.at/v1/satellites/25544/positions",
          "options": {},
          "queryParametersUi": {
            "parameter": [
              {
                "name": "timestamps",
                "value": "={{Date.now();}}"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          950,
          300
        ],
        "parameters": {
          "values": {
            "number": [
              {
                "name": "latitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"latitude\"]}}"
              },
              {
                "name": "longitude",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"longitude\"]}}"
              },
              {
                "name": "timestamp",
                "value": "={{$node[\"HTTP Request\"].json[\"0\"][\"timestamp\"]}}"
              }
            ],
            "string": []
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Google Cloud Realtime Database",
        "type": "n8n-nodes-base.googleFirebaseRealtimeDatabase",
        "position": [
          1150,
          300
        ],
        "parameters": {
          "path": "iss",
          "operation": "push",
          "projectId": "",
          "attributes": "latitude, longitude, timestamp"
        },
        "credentials": {
          "googleFirebaseRealtimeDatabaseOAuth2Api": "firebase realtime credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Google Cloud Realtime Database",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
