api-static/workflows/4254.json
{
  "id": 4254,
  "filename": "0143_HTTP_Gitlab_Automation_Webhook.json",
  "name": "HTTP Gitlab Automation Webhook",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating GitlabTrigger, HttpRequest, If with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "GitlabTrigger",
    "HttpRequest",
    "If"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "4dfbbf6624fc2aaed4e8538e76c8a0e3",
  "file_size": 1837,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Gitlab Trigger",
        "type": "n8n-nodes-base.gitlabTrigger",
        "position": [
          240,
          140
        ],
        "parameters": {
          "owner": "tennox",
          "events": [
            "tag_push"
          ],
          "repository": "ci-test"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          820,
          40
        ],
        "parameters": {
          "url": "https://app.getoutline.com/api/documents.create",
          "options": {},
          "requestMethod": "POST",
          "authentication": "headerAuth",
          "jsonParameters": true,
          "bodyParametersJson": "={ \n\"collectionId\": \"PLACEHOLDER\",\n\"parentDocumentId\": \"PLACEHOLDER\",\n\"publish\": true, \n\"title\": {{JSON.stringify(\"Release \" + $json.body.name)}},\n\"text\": {{JSON.stringify($json.body.description + '\\n\\n\\\\\\n[More info](' + $json.body.url + ')')}}\n}"
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          540,
          140
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.body.object_kind}}",
                "value2": "release"
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gitlab Trigger": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
