api-static/workflows/4262.json
{
  "id": 4262,
  "filename": "0151_Awss3_GoogleDrive_Import_Triggered.json",
  "name": "Awss3 GoogleDrive Import Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating GoogleDriveTrigger, Merge, AwsS3 with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "GoogleDriveTrigger",
    "Merge",
    "AwsS3"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "49b49229e472dab52ccd896a8172f623",
  "file_size": 2585,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Google Drive Trigger",
        "type": "n8n-nodes-base.googleDriveTrigger",
        "position": [
          480,
          1480
        ],
        "parameters": {
          "event": "fileUpdated",
          "options": {},
          "triggerOn": "specificFolder",
          "folderToWatch": "https://drive.google.com/drive/folders/[your_id]"
        },
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "12",
            "name": "Google Drive account"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          680,
          1560
        ],
        "parameters": {
          "mode": "removeKeyMatches",
          "propertyName1": "name.value",
          "propertyName2": "Key.value"
        },
        "typeVersion": 1
      },
      {
        "name": "AWS S3  - get",
        "type": "n8n-nodes-base.awsS3",
        "position": [
          480,
          1660
        ],
        "parameters": {
          "options": {},
          "operation": "getAll",
          "bucketName": "mybucket"
        },
        "credentials": {
          "aws": {
            "id": "9",
            "name": "aws"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "AWS S3 - upload",
        "type": "n8n-nodes-base.awsS3",
        "position": [
          860,
          1560
        ],
        "parameters": {
          "tagsUi": {
            "tagsValues": [
              {
                "key": "source",
                "value": "gdrive"
              }
            ]
          },
          "fileName": "={{$json[\"name\"]}}",
          "operation": "upload",
          "binaryData": false,
          "bucketName": "mybucket",
          "additionalFields": {
            "serverSideEncryption": "AES256"
          }
        },
        "credentials": {
          "aws": {
            "id": "9",
            "name": "aws"
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "AWS S3 - upload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AWS S3  - get": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Google Drive Trigger": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
