api-static/workflows/4264.json
{
  "id": 4264,
  "filename": "0153_HTTP_Dropbox_Update_Webhook.json",
  "name": "HTTP Dropbox Update Webhook",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating Xml, Set, HttpRequest, +1 more with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "Xml",
    "Set",
    "HttpRequest",
    "Dropbox"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "04722fd798f44f79022defd54ef49db3",
  "file_size": 2285,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "To JSON",
        "type": "n8n-nodes-base.xml",
        "position": [
          700,
          300
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Change title",
        "type": "n8n-nodes-base.set",
        "position": [
          900,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "slideshow.title",
                "value": "New Title Name"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Get XML Data",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          500,
          300
        ],
        "parameters": {
          "url": "https://httpbin.org/xml",
          "responseFormat": "string"
        },
        "typeVersion": 1
      },
      {
        "name": "Dropbox",
        "type": "n8n-nodes-base.dropbox",
        "position": [
          1300,
          300
        ],
        "parameters": {
          "path": "/my-xml-file.xml",
          "fileContent": "={{$node[\"To XML\"].data[\"data\"]}}"
        },
        "credentials": {
          "dropboxApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "To XML",
        "type": "n8n-nodes-base.xml",
        "position": [
          1100,
          300
        ],
        "parameters": {
          "mode": "jsonToxml",
          "options": {}
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "To XML": {
        "main": [
          [
            {
              "node": "Dropbox",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "To JSON": {
        "main": [
          [
            {
              "node": "Change title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Change title": {
        "main": [
          [
            {
              "node": "To XML",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get XML Data": {
        "main": [
          [
            {
              "node": "To JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
