api-static/workflows/4306.json
{
  "id": 4306,
  "filename": "0195_Manual_Pagerduty_Create_Triggered.json",
  "name": "Create, update, and get an incident on PagerDuty",
  "workflow_id": "158",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, PagerDuty with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "PagerDuty"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "44a29b9c1ad6c89f49a3289f8ae1dec7",
  "file_size": 2202,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "158",
    "name": "Create, update, and get an incident on PagerDuty",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          240,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "PagerDuty",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          440,
          260
        ],
        "parameters": {
          "email": "",
          "title": "Firewall on Fire",
          "serviceId": "",
          "additionalFields": {}
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "PagerDuty2",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          840,
          260
        ],
        "parameters": {
          "operation": "get",
          "incidentId": "={{$node[\"PagerDuty1\"].json[\"id\"]}}"
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "PagerDuty1",
        "type": "n8n-nodes-base.pagerDuty",
        "position": [
          640,
          260
        ],
        "parameters": {
          "email": "={{$node[\"PagerDuty\"].parameter[\"email\"]}}",
          "operation": "update",
          "incidentId": "={{$node[\"PagerDuty\"].json[\"id\"]}}",
          "updateFields": {
            "title": "Firewalls on Fire"
          }
        },
        "credentials": {
          "pagerDutyApi": ""
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "PagerDuty": {
        "main": [
          [
            {
              "node": "PagerDuty1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "PagerDuty1": {
        "main": [
          [
            {
              "node": "PagerDuty2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "PagerDuty",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
