api-static/workflows/4307.json
{
  "id": 4307,
  "filename": "0196_Openweathermap_Webhook_Automation_Webhook.json",
  "name": "Receive the weather information of any city",
  "workflow_id": "158",
  "active": 0,
  "description": "Webhook workflow integrating Webhook, OpenWeatherMap, Set with 3 nodes (low complexity)",
  "trigger_type": "Webhook",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Webhook",
    "OpenWeatherMap",
    "Set"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "4e80681af9171117b60c96605459bdc4",
  "file_size": 1922,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "158",
    "name": "Receive the weather information of any city",
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          580,
          340
        ],
        "webhookId": "45690b6a-2b01-472d-8839-5e83a74858e5",
        "parameters": {
          "path": "45690b6a-2b01-472d-8839-5e83a74858e5",
          "options": {},
          "responseData": "allEntries",
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          770,
          340
        ],
        "parameters": {
          "cityName": "={{$node[\"Webhook\"].json[\"query\"][\"city\"]}}"
        },
        "credentials": {
          "openWeatherMapApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          970,
          340
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "temp",
                "value": "={{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}"
              },
              {
                "name": "description",
                "value": "={{$node[\"OpenWeatherMap\"].json[\"weather\"][0][\"description\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Webhook": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
