api-static/workflows/4318.json
{
  "id": 4318,
  "filename": "0207_Manual_Slack_Create_Webhook.json",
  "name": "Create a channel, invite users to the channel, post a message, and upload a file",
  "workflow_id": "164",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Slack, HttpRequest with 6 nodes (medium complexity)",
  "trigger_type": "Manual",
  "complexity": "medium",
  "node_count": 6,
  "integrations": [
    "ManualTrigger",
    "Slack",
    "HttpRequest"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "eb07807478d0c66dbb3a64825630e6ee",
  "file_size": 3498,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "164",
    "name": "Create a channel, invite users to the channel, post a message, and upload a file",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          250
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          450,
          250
        ],
        "parameters": {
          "resource": "channel",
          "channelId": "n8n-docs",
          "additionalFields": {}
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack1",
        "type": "n8n-nodes-base.slack",
        "position": [
          650,
          250
        ],
        "parameters": {
          "userIds": [
            "U01797FGD6J"
          ],
          "resource": "channel",
          "channelId": "={{$node[\"Slack\"].json[\"id\"]}}",
          "operation": "invite"
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          1050,
          250
        ],
        "parameters": {
          "url": "https://n8n.io/n8n-logo.png",
          "options": {},
          "responseFormat": "file"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack2",
        "type": "n8n-nodes-base.slack",
        "position": [
          850,
          250
        ],
        "parameters": {
          "text": "Welcome to the channel!",
          "as_user": true,
          "channel": "={{$node[\"Slack\"].json[\"id\"]}}",
          "attachments": [
            {
              "title": "Logo",
              "image_url": "https://n8n.io/n8n-logo.png"
            }
          ],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      },
      {
        "name": "Slack3",
        "type": "n8n-nodes-base.slack",
        "position": [
          1250,
          250
        ],
        "parameters": {
          "options": {
            "channelIds": [
              "C01FZ3TJR5L"
            ]
          },
          "resource": "file",
          "binaryData": true
        },
        "credentials": {
          "slackApi": "Slack Bot Access Token"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Slack": {
        "main": [
          [
            {
              "node": "Slack1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack1": {
        "main": [
          [
            {
              "node": "Slack2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Slack2": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Slack3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
