api-static/workflows/4319.json
{
  "id": 4319,
  "filename": "0208_Manual_Iterable_Create_Triggered.json",
  "name": "Create, update and get a user from Iterable",
  "workflow_id": "165",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Iterable with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "Iterable"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "c5da67ccdcc9e826a7b6fd0c9d14535b",
  "file_size": 2260,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "165",
    "name": "Create, update and get a user from Iterable",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          310,
          340
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Iterable",
        "type": "n8n-nodes-base.iterable",
        "position": [
          510,
          340
        ],
        "parameters": {
          "value": "",
          "identifier": "email",
          "additionalFields": {}
        },
        "credentials": {
          "iterableApi": "Iterable"
        },
        "typeVersion": 1
      },
      {
        "name": "Iterable1",
        "type": "n8n-nodes-base.iterable",
        "position": [
          710,
          340
        ],
        "parameters": {
          "value": "={{$node[\"Iterable\"].parameter[\"value\"]}}",
          "identifier": "email",
          "additionalFields": {
            "dataFieldsUi": {
              "dataFieldValues": [
                {
                  "key": "Name",
                  "value": ""
                }
              ]
            }
          }
        },
        "credentials": {
          "iterableApi": "Iterable"
        },
        "typeVersion": 1
      },
      {
        "name": "Iterable2",
        "type": "n8n-nodes-base.iterable",
        "position": [
          910,
          340
        ],
        "parameters": {
          "email": "={{$node[\"Iterable\"].parameter[\"value\"]}}",
          "operation": "get"
        },
        "credentials": {
          "iterableApi": "Iterable"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Iterable": {
        "main": [
          [
            {
              "node": "Iterable1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Iterable1": {
        "main": [
          [
            {
              "node": "Iterable2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Iterable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
