api-static/workflows/4320.json
{
  "id": 4320,
  "filename": "0209_Noop_Kafka_Send_Triggered.json",
  "name": "Receive messages from a topic and send an SMS",
  "workflow_id": "166",
  "active": 0,
  "description": "Manual workflow integrating KafkaTrigger, If, Vonage, +1 more with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "KafkaTrigger",
    "If",
    "Vonage",
    "NoOp"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "f217cb2b63f205acd915f82d85bf3105",
  "file_size": 2113,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "166",
    "name": "Receive messages from a topic and send an SMS",
    "nodes": [
      {
        "name": "Kafka Trigger",
        "type": "n8n-nodes-base.kafkaTrigger",
        "position": [
          490,
          260
        ],
        "parameters": {
          "topic": "topic_test",
          "groupId": "n8n",
          "options": {
            "jsonParseMessage": true
          }
        },
        "credentials": {
          "kafka": "kafka"
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          690,
          260
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"Kafka Trigger\"].json[\"message\"][\"temp\"]}}",
                "value2": 50,
                "operation": "larger"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Vonage",
        "type": "n8n-nodes-base.vonage",
        "position": [
          890,
          160
        ],
        "parameters": {
          "from": "Vonage APIs",
          "message": "=Alert!\nThe value of temp is {{$node[\"Kafka Trigger\"].json[\"message\"][\"temp\"]}}.",
          "additionalFields": {}
        },
        "credentials": {
          "vonageApi": "vonage"
        },
        "typeVersion": 1
      },
      {
        "name": "NoOp",
        "type": "n8n-nodes-base.noOp",
        "position": [
          890,
          360
        ],
        "parameters": {},
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Vonage",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "NoOp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Kafka Trigger": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
