api-static/workflows/4321.json
{
  "id": 4321,
  "filename": "0210_Manual_Yourls_Create_Triggered.json",
  "name": "Create a short URL and get the statistics of the URL",
  "workflow_id": "167",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Yourls with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "ManualTrigger",
    "Yourls"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "28da9ad273ba9be52d98253427a4f4a3",
  "file_size": 1692,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "167",
    "name": "Create a short URL and get the statistics of the URL",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          370,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Yourls",
        "type": "n8n-nodes-base.yourls",
        "position": [
          570,
          300
        ],
        "parameters": {
          "url": "https://medium.com/n8n-io/sending-sms-the-low-code-way-with-airtable-twilio-programmable-sms-and-n8n-90dbde74223e?source=---------4-----------------------",
          "additionalFields": {
            "title": "Sending SMS the Low-Code Way with Airtable, Twilio Programmable SMS, and n8n"
          }
        },
        "credentials": {
          "yourlsApi": "Yourls"
        },
        "typeVersion": 1
      },
      {
        "name": "Yourls1",
        "type": "n8n-nodes-base.yourls",
        "position": [
          770,
          300
        ],
        "parameters": {
          "shortUrl": "={{$node[\"Yourls\"].json[\"shorturl\"]}}",
          "operation": "stats"
        },
        "credentials": {
          "yourlsApi": "Yourls"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Yourls": {
        "main": [
          [
            {
              "node": "Yourls1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Yourls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
