api-static/workflows/4347.json
{
  "id": 4347,
  "filename": "0236_Manual_GoogleSheets_Create_Scheduled.json",
  "name": "Manual GoogleSheets Create Scheduled",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, If, NoOp, +3 more with 7 nodes (medium complexity)",
  "trigger_type": "Manual",
  "complexity": "medium",
  "node_count": 7,
  "integrations": [
    "ManualTrigger",
    "If",
    "NoOp",
    "GoogleSheets",
    "Set",
    "Interval"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "01869b3b16339c342e26a59e4cba5a05",
  "file_size": 3656,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          240,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Is new?",
        "type": "n8n-nodes-base.if",
        "position": [
          680,
          300
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json[\"Processed\"]}}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Do something here",
        "type": "n8n-nodes-base.noOp",
        "position": [
          900,
          100
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Mark Row as processed",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1120,
          300
        ],
        "parameters": {
          "key": "ID",
          "options": {},
          "sheetId": "1SdnwaIJ6xwaZl006FmK2j4f-b00tq7tT7iQgdfe7Qh4",
          "operation": "update",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "228",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Read sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          460,
          300
        ],
        "parameters": {
          "options": {},
          "sheetId": "1SdnwaIJ6xwaZl006FmK2j4f-b00tq7tT7iQgdfe7Qh4",
          "authentication": "oAuth2"
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "228",
            "name": "Google Sheets account"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Set processed value",
        "type": "n8n-nodes-base.set",
        "position": [
          900,
          300
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Processed",
                "value": "={{ $now.toISO() }}"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Run every 5 minutes",
        "type": "n8n-nodes-base.interval",
        "position": [
          240,
          100
        ],
        "parameters": {
          "unit": "minutes",
          "interval": 5
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Is new?": {
        "main": [
          [
            {
              "node": "Do something here",
              "type": "main",
              "index": 0
            },
            {
              "node": "Set processed value",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read sheet": {
        "main": [
          [
            {
              "node": "Is new?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run every 5 minutes": {
        "main": [
          [
            {
              "node": "Read sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set processed value": {
        "main": [
          [
            {
              "node": "Mark Row as processed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Read sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
