api-static/workflows/4373.json
{
  "id": 4373,
  "filename": "0262_Typeform_Spreadsheetfile_Automate_Triggered.json",
  "name": "Typeform Spreadsheetfile Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating TypeformTrigger, NextCloud, SpreadsheetFile, +1 more with 6 nodes (medium complexity)",
  "trigger_type": "Manual",
  "complexity": "medium",
  "node_count": 6,
  "integrations": [
    "TypeformTrigger",
    "NextCloud",
    "SpreadsheetFile",
    "Merge"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "3e91d89cb3cdcc4a57439f1252f26589",
  "file_size": 2657,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Typeform Trigger",
        "type": "n8n-nodes-base.typeformTrigger",
        "position": [
          500,
          520
        ],
        "parameters": {
          "formId": ""
        },
        "credentials": {
          "typeformApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "NextCloud",
        "type": "n8n-nodes-base.nextCloud",
        "position": [
          650,
          300
        ],
        "parameters": {
          "path": "examples/Problems.xls",
          "operation": "download"
        },
        "credentials": {
          "nextCloudApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Spreadsheet File",
        "type": "n8n-nodes-base.spreadsheetFile",
        "position": [
          800,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Merge",
        "type": "n8n-nodes-base.merge",
        "position": [
          1000,
          470
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Spreadsheet File1",
        "type": "n8n-nodes-base.spreadsheetFile",
        "position": [
          1150,
          470
        ],
        "parameters": {
          "operation": "toFile"
        },
        "typeVersion": 1
      },
      {
        "name": "NextCloud1",
        "type": "n8n-nodes-base.nextCloud",
        "position": [
          1300,
          470
        ],
        "parameters": {
          "path": "={{$node[\"NextCloud\"].parameter[\"path\"]}}",
          "binaryDataUpload": true
        },
        "credentials": {
          "nextCloudApi": ""
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Merge": {
        "main": [
          [
            {
              "node": "Spreadsheet File1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NextCloud": {
        "main": [
          [
            {
              "node": "Spreadsheet File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Spreadsheet File": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Spreadsheet File1": {
        "main": [
          [
            {
              "node": "NextCloud1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
