api-static/workflows/4404.json
{
  "id": 4404,
  "filename": "0293_Manual_Woocommerce_Create_Triggered.json",
  "name": "Create, update and get a product from WooCommerce",
  "workflow_id": "187",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, WooCommerce with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "WooCommerce"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "c674323a024af11f0fc0ca54b7159584",
  "file_size": 2375,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "187",
    "name": "Create, update and get a product from WooCommerce",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          220,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "WooCommerce",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          430,
          300
        ],
        "parameters": {
          "name": "n8n Sweatshirt",
          "imagesUi": {
            "imagesValues": []
          },
          "metadataUi": {
            "metadataValues": []
          },
          "additionalFields": {
            "description": "Stay warm with this sweatshirt!",
            "regularPrice": "30"
          }
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      },
      {
        "name": "WooCommerce1",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          630,
          300
        ],
        "parameters": {
          "operation": "update",
          "productId": "={{$node[\"WooCommerce\"].json[\"id\"]}}",
          "updateFields": {
            "stockQuantity": 100
          }
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      },
      {
        "name": "WooCommerce2",
        "type": "n8n-nodes-base.wooCommerce",
        "position": [
          830,
          300
        ],
        "parameters": {
          "operation": "get",
          "productId": "={{$node[\"WooCommerce\"].json[\"id\"]}}"
        },
        "credentials": {
          "wooCommerceApi": "woocommerce"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "WooCommerce": {
        "main": [
          [
            {
              "node": "WooCommerce1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "WooCommerce1": {
        "main": [
          [
            {
              "node": "WooCommerce2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "WooCommerce",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
