api-static/workflows/4416.json
{
  "id": 4416,
  "filename": "0305_Manual_Telegram_Create_Triggered.json",
  "name": "Create a screenshot of a website and send it to a telegram channel",
  "workflow_id": "191",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Telegram, Uproc with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "ManualTrigger",
    "Telegram",
    "Uproc"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "756ae366dbd2e7a1e032762a411edf67",
  "file_size": 1664,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "191",
    "name": "Create a screenshot of a website and send it to a telegram channel",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          650,
          300
        ],
        "parameters": {
          "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
          "chatId": "",
          "operation": "sendPhoto",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram n8n bot"
        },
        "typeVersion": 1
      },
      {
        "name": "uProc",
        "type": "n8n-nodes-base.uproc",
        "position": [
          450,
          300
        ],
        "parameters": {
          "url": "https://n8n.io",
          "tool": "getUrlScreenshot",
          "group": "image",
          "width": "1024",
          "fullpage": "yes",
          "additionalOptions": {}
        },
        "credentials": {
          "uprocApi": "uProc credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "uProc": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "uProc",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
