api-static/workflows/4423.json
{
  "id": 4423,
  "filename": "0312_Manual_HTTP_Create_Webhook.json",
  "name": "Create, add an attachment, and send a draft using the Microsoft Outlook node",
  "workflow_id": "193",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, MicrosoftOutlook, HttpRequest with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "ManualTrigger",
    "MicrosoftOutlook",
    "HttpRequest"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "6e2f9a10907b9862319c07fa1c6151dd",
  "file_size": 3227,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "193",
    "name": "Create, add an attachment, and send a draft using the Microsoft Outlook node",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          450,
          300
        ],
        "parameters": {
          "subject": "Hello from n8n!",
          "resource": "draft",
          "bodyContent": "<h1>Hello from n8n!</h1> <p>We are sending this email using the Microsoft Outlook node in <a href=\"https://n8n.io\">n8n</a></p> <p>Best,</p> <p>Sender</p>",
          "additionalFields": {
            "bodyContentType": "html"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          650,
          300
        ],
        "parameters": {
          "url": "https://n8n.io/n8n-logo.png",
          "options": {},
          "responseFormat": "file"
        },
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook1",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          850,
          300
        ],
        "parameters": {
          "resource": "messageAttachment",
          "messageId": "={{$node[\"Microsoft Outlook\"].json[\"id\"]}}",
          "additionalFields": {
            "fileName": "n8n.png"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Microsoft Outlook2",
        "type": "n8n-nodes-base.microsoftOutlook",
        "position": [
          1050,
          300
        ],
        "parameters": {
          "resource": "draft",
          "messageId": "={{$node[\"Microsoft Outlook\"].json[\"id\"]}}",
          "operation": "send",
          "additionalFields": {
            "recipients": "abc@example.com"
          }
        },
        "credentials": {
          "microsoftOutlookOAuth2Api": "Micrsoft Outlook Credentials"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Microsoft Outlook1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Outlook": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Microsoft Outlook1": {
        "main": [
          [
            {
              "node": "Microsoft Outlook2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Microsoft Outlook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
