api-static/workflows/4815.json
{
  "id": 4815,
  "filename": "0704_Telegram_Automate_Triggered.json",
  "name": "N8N Espa침ol - BOT",
  "workflow_id": "27",
  "active": 1,
  "description": "Manual workflow integrating If, Telegram, TelegramTrigger with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "If",
    "Telegram",
    "TelegramTrigger"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "a942ae68fecbbb4eba18aaafc08d2a0c",
  "file_size": 3244,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "27",
    "name": "N8N Espa침ol - BOT",
    "nodes": [
      {
        "name": "Saludos-IF",
        "type": "n8n-nodes-base.if",
        "position": [
          450,
          450
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Saludos-IF1",
        "type": "n8n-nodes-base.if",
        "position": [
          490,
          630
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}}",
                "operation": "isEmpty"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "S-Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          700,
          660
        ],
        "parameters": {
          "text": "=九뒲잺 {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"left_chat_member\"][\"first_name\"]}} DEP. 游똂 Que los Dioses te protejan.",
          "chatId": "=@comunidadn8n",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "N8N Espa침ol - BOT"
        },
        "typeVersion": 1
      },
      {
        "name": "Saludos-TelegramTrigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          260,
          560
        ],
        "webhookId": "4ef8c98e-e617-4d36-9c6d-04fae7e9298c",
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "N8N Espa침ol - BOT"
        },
        "typeVersion": 1
      },
      {
        "name": "S-Telegram2",
        "type": "n8n-nodes-base.telegram",
        "position": [
          730,
          460
        ],
        "parameters": {
          "text": "=九덢잺 {{$node[\"Saludos-TelegramTrigger\"].json[\"message\"][\"new_chat_member\"][\"first_name\"]}}, 춰bienvenid@ a N8N en Espa침oll!  游뗿",
          "chatId": "=@comunidadn8n",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "N8N Espa침ol - BOT"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Saludos-IF": {
        "main": [
          [],
          [
            {
              "node": "S-Telegram2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Saludos-IF1": {
        "main": [
          [],
          [
            {
              "node": "S-Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Saludos-TelegramTrigger": {
        "main": [
          [
            {
              "node": "Saludos-IF1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Saludos-IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
