api-static/workflows/4816.json
{
  "id": 4816,
  "filename": "0705_Telegram_Automate_Triggered.json",
  "name": "Telegram Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating TelegramTrigger, Telegram, If with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "TelegramTrigger",
    "Telegram",
    "If"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "1f19aec3e4a41ea9da7a44872b8ddc92",
  "file_size": 2612,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          450,
          300
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Return Sticker",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          200
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nThe ID of the sticker is: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"file_id\"]}}\nIt is part of the sticker-set: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"set_name\"]}}",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Return no Sticker found",
        "type": "n8n-nodes-base.telegram",
        "position": [
          850,
          400
        ],
        "parameters": {
          "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nYour message did not contain any sticker.",
          "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "n8nTestBot"
        },
        "typeVersion": 1
      },
      {
        "name": "Look for Sticker",
        "type": "n8n-nodes-base.if",
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "boolean": [
              {
                "value1": "={{!!$node[\"Telegram Trigger\"].data[\"message\"][\"sticker\"]}}",
                "value2": true
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Look for Sticker": {
        "main": [
          [
            {
              "node": "Return Sticker",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return no Sticker found",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Look for Sticker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
