api-static/workflows/4856.json
{
  "id": 4856,
  "filename": "0745_HTTP_Telegram_Automation_Webhook.json",
  "name": "Daily Text Affirmations",
  "workflow_id": "2",
  "active": 0,
  "description": "Scheduled workflow integrating Cron, HttpRequest, Telegram with 3 nodes (low complexity)",
  "trigger_type": "Scheduled",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Cron",
    "HttpRequest",
    "Telegram"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "d40ad38b6b4dfa9b042d21fc9e302721",
  "file_size": 1533,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "2",
    "name": "Daily Text Affirmations",
    "nodes": [
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          350,
          380
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "hour": 9
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          760,
          380
        ],
        "parameters": {
          "url": "https://affirmations.dev",
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          1140,
          380
        ],
        "parameters": {
          "text": "=Hey Daniel, here's your daily affirmation...\n\n{{$node[\"HTTP Request\"].json[\"affirmation\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram Token"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
