api-static/workflows/4862.json
{
  "id": 4862,
  "filename": "0751_Openweathermap_Telegram_Automate_Triggered.json",
  "name": "Telegram Weather Workflow",
  "workflow_id": "2",
  "active": 1,
  "description": "Manual workflow integrating TelegramTrigger, OpenWeatherMap, Telegram with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "TelegramTrigger",
    "OpenWeatherMap",
    "Telegram"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "cf8843ca254e92990245ef504bba38d0",
  "file_size": 1866,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "2",
    "name": "Telegram Weather Workflow",
    "nodes": [
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          270,
          220
        ],
        "parameters": {
          "updates": [
            "message"
          ]
        },
        "credentials": {
          "telegramApi": "Telegram"
        },
        "typeVersion": 1
      },
      {
        "name": "OpenWeatherMap",
        "type": "n8n-nodes-base.openWeatherMap",
        "position": [
          480,
          220
        ],
        "parameters": {
          "cityName": "berlin,de"
        },
        "credentials": {
          "openWeatherMapApi": "OpenWeatherMap"
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          670,
          220
        ],
        "parameters": {
          "text": "=Right now, we have {{$node[\"OpenWeatherMap\"].json[\"weather\"][0][\"description\"]}}. The temperature is {{$node[\"OpenWeatherMap\"].json[\"main\"][\"temp\"]}}°C but it really feels like {{$node[\"OpenWeatherMap\"].json[\"main\"][\"feels_like\"]}}°C 🙂",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "Telegram"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "OpenWeatherMap": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "OpenWeatherMap",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
