api-static/workflows/4886.json
{
  "id": 4886,
  "filename": "0775_HTTP_Executecommand_Automate_Webhook.json",
  "name": "N8N Espa침ol - NocodeBot",
  "workflow_id": "30",
  "active": 1,
  "description": "Manual workflow integrating HttpRequest, Telegram, ExecuteCommand, +2 more with 7 nodes (medium complexity)",
  "trigger_type": "Manual",
  "complexity": "medium",
  "node_count": 7,
  "integrations": [
    "HttpRequest",
    "Telegram",
    "ExecuteCommand",
    "TelegramTrigger",
    "If"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "2b1f55919a5c250b753b722893528e5a",
  "file_size": 4868,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "30",
    "name": "N8N Espa침ol - NocodeBot",
    "nodes": [
      {
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "notes": "Lee los datos de Strapi",
        "position": [
          630,
          350
        ],
        "parameters": {
          "url": "=http://s.covid-remote.work:1337/nocodes?Name={{$json[\"message\"][\"text\"].toLowerCase()}}",
          "options": {}
        },
        "notesInFlow": true,
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          950,
          280
        ],
        "parameters": {
          "text": "=------------------------------------------------       \n<b>{{$node[\"HTTP Request\"].json[\"0\"][\"Name\"].toUpperCase()}} </b>\n------------------------------------------------\n|-<b>Descripci칩n:</b>\n|<pre>{{$node[\"Execute Command\"].json[\"stdout\"]}}</pre>",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {
            "parse_mode": "HTML"
          }
        },
        "credentials": {
          "telegramApi": "NocodeTranslateBot"
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram1",
        "type": "n8n-nodes-base.telegram",
        "position": [
          800,
          130
        ],
        "parameters": {
          "file": "={{$json[\"0\"][\"Img\"]}}",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "operation": "sendPhoto",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "NocodeTranslateBot"
        },
        "typeVersion": 1
      },
      {
        "name": "Execute Command",
        "type": "n8n-nodes-base.executeCommand",
        "position": [
          790,
          390
        ],
        "parameters": {
          "command": "=/usr/bin/translate --brief -t {{$node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"language_code\"]}} \"{{$json[\"0\"][\"Description\"]}}\""
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "position": [
          290,
          130
        ],
        "webhookId": "9673bd65-53ef-4561-bfe1-a55fab0f77b0",
        "parameters": {
          "updates": [
            "*"
          ],
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "NocodeTranslateBot"
        },
        "typeVersion": 1
      },
      {
        "name": "Saludos-IF",
        "type": "n8n-nodes-base.if",
        "position": [
          450,
          270
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"text\"]}}",
                "value2": "/start"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "S-Telegram2",
        "type": "n8n-nodes-base.telegram",
        "position": [
          630,
          130
        ],
        "parameters": {
          "text": "=Hola, **{{$json[\"message\"][\"chat\"][\"first_name\"]}}**  游뗿\nEste bot ha sido desarrollado para @comunidadn8n\nPuedes escribir el nombre de alguna herramienta No-Code y si la tenemos registrada en nuestra Base de datos te responderemos con la descripci칩n en tu idioma.\n\nPuedes probar escribiendo alguno de estos nombres:\n\n- Airtable\n- Stripe\n- Webflow",
          "chatId": "={{$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"]}}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "credentials": {
          "telegramApi": "NocodeTranslateBot"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Saludos-IF": {
        "main": [
          [
            {
              "node": "S-Telegram2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Telegram1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Execute Command",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Saludos-IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
