api-static/workflows/4923.json
{
  "id": 4923,
  "filename": "0812_GoogleSheets_GoogleDrive_Automate_Triggered.json",
  "name": "GoogleSheets GoogleDrive Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating GoogleSheetsTrigger, WebsiteScreenshot, GoogleDrive with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "GoogleSheetsTrigger",
    "WebsiteScreenshot",
    "GoogleDrive"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "084bb4c830cd7f851fd5cf1becca7f12",
  "file_size": 2779,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "meta": {
      "instanceId": "b503899dfd9ae32bbf8e1f446a1f2c9b3c59f80c79b274c49b1606b7ae9579e1"
    },
    "nodes": [
      {
        "id": "21da7bb6-6544-4756-9d0a-ab8ae21650d4",
        "name": "Google Sheets Trigger",
        "type": "n8n-nodes-base.googleSheetsTrigger",
        "position": [
          -120,
          -20
        ],
        "parameters": {
          "event": "rowAdded",
          "options": {},
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit#gid=0",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1SP8Y-qffC96ZV3ueVUYWP5pjqtaycaM7Kbv5L-ztw5g/edit?usp=drivesdk",
            "cachedResultName": "URL list"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "39a9a0a3-13c7-4271-bca4-31848201e48b",
        "name": "Take a screenshot of a website",
        "type": "@custom-js/n8n-nodes-pdf-toolkit.websiteScreenshot",
        "position": [
          160,
          -20
        ],
        "parameters": {
          "urlInput": "={{ $json.Url }}"
        },
        "typeVersion": 1
      },
      {
        "id": "1dc3cb1a-99ee-4e85-b628-0f4a77149728",
        "name": "Store Screenshots",
        "type": "n8n-nodes-base.googleDrive",
        "position": [
          400,
          -20
        ],
        "parameters": {
          "name": "={{ $json.Title }}.png",
          "driveId": {
            "__rl": true,
            "mode": "list",
            "value": "My Drive"
          },
          "options": {},
          "folderId": {
            "__rl": true,
            "mode": "list",
            "value": "1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1oFbmzgG2fsRix45r5JtowYjAdwskJ0P6",
            "cachedResultName": "screenshots"
          }
        },
        "typeVersion": 3
      }
    ],
    "pinData": {},
    "connections": {
      "Google Sheets Trigger": {
        "main": [
          [
            {
              "node": "Take a screenshot of a website",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Take a screenshot of a website": {
        "main": [
          [
            {
              "node": "Store Screenshots",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
