api-static/workflows/5061.json
{
  "id": 5061,
  "filename": "0950_GoogleSheets_Slack_Send_Triggered.json",
  "name": "GoogleSheets Slack Send Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating TypeformTrigger, If, GoogleSheets, +2 more with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "TypeformTrigger",
    "If",
    "GoogleSheets",
    "EmailSend",
    "Slack"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "791335b45dad37c5af26fa25569368c7",
  "file_size": 2971,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Typeform Trigger",
        "type": "n8n-nodes-base.typeformTrigger",
        "position": [
          450,
          300
        ],
        "parameters": {
          "formId": "UXuY0A"
        },
        "credentials": {
          "typeformApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          850,
          300
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"Google Sheets\"].data[\"Severity\"]}}",
                "value2": 7,
                "operation": "larger"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Google Sheets",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          650,
          300
        ],
        "parameters": {
          "range": "Problems!A:D",
          "sheetId": "17fzSFl1BZ1njldTfp5lvh8HtS0-pNXH66b7qGZIiGRU",
          "operation": "append"
        },
        "credentials": {
          "googleApi": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Send Email",
        "type": "n8n-nodes-base.emailSend",
        "position": [
          1050,
          400
        ],
        "parameters": {
          "text": "=Email: {{$node[\"IF\"].data[\"Email\"]}}\nName: {{$node[\"IF\"].data[\"Name\"]}}\nSeverity: {{$node[\"IF\"].data[\"Severity\"]}}\n\nProblem:\n{{$node[\"IF\"].data[\"Problem\"]}}",
          "subject": "User Reported Problem",
          "toEmail": "",
          "fromEmail": ""
        },
        "credentials": {
          "smtp": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Slack",
        "type": "n8n-nodes-base.slack",
        "position": [
          1050,
          200
        ],
        "parameters": {
          "text": "=Email: {{$node[\"IF\"].data[\"Email\"]}}\nName: {{$node[\"IF\"].data[\"Name\"]}}\nSeverity: {{$node[\"IF\"].data[\"Severity\"]}}\n\nProblem:\n{{$node[\"IF\"].data[\"Problem\"]}}",
          "channel": "problems",
          "attachments": [],
          "otherOptions": {}
        },
        "credentials": {
          "slackApi": ""
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Slack",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Send Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Sheets": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Typeform Trigger": {
        "main": [
          [
            {
              "node": "Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
