api-static/workflows/5155.json
{
  "id": 5155,
  "filename": "1044_Manual_Automate_Triggered.json",
  "name": "Manual Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Function, If, +1 more with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "ManualTrigger",
    "Function",
    "If",
    "Set"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "7f7d9ecbe63462f68daa4543adee0c51",
  "file_size": 2415,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          250,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Function",
        "type": "n8n-nodes-base.function",
        "position": [
          450,
          300
        ],
        "parameters": {
          "functionCode": "return [\n  {\n    json: {\n      id: 0,\n    }\n  },\n  {\n    json: {\n      id: 1,\n    }\n  }\n];"
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          650,
          300
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"Function\"].json[\"id\"]}}",
                "operation": "equal"
              }
            ]
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          200
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "name",
                "value": "n8n"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Set1",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          400
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "name",
                "value": "nodemation"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Function": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Function",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
