api-static/workflows/5176.json
{
  "id": 5176,
  "filename": "1065_Telegram_Webhook_Automation_Webhook.json",
  "name": "bash-dash telegram",
  "workflow_id": "5",
  "active": 1,
  "description": "Webhook workflow integrating Webhook, Set, Telegram with 3 nodes (low complexity)",
  "trigger_type": "Webhook",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Webhook",
    "Set",
    "Telegram"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "8a1455d610318fd4462a14f57537100f",
  "file_size": 1878,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "5",
    "name": "bash-dash telegram",
    "nodes": [
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          450,
          450
        ],
        "webhookId": "b43ae7e2-a058-4738-8d49-ac76db6e8166",
        "parameters": {
          "path": "telegram",
          "options": {
            "responsePropertyName": "response"
          },
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          450
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "response",
                "value": "=Sent message to {{$node[\"Telegram\"].json[\"result\"][\"chat\"][\"first_name\"]}}: \"{{$node[\"Telegram\"].parameter[\"text\"]}}\""
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          650,
          450
        ],
        "parameters": {
          "text": "={{$node[\"Webhook\"].json[\"query\"][\"parameter\"]}}",
          "chatId": "123456789",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": "telegram_bot"
        },
        "typeVersion": 1
      }
    ],
    "active": true,
    "settings": {},
    "connections": {
      "Set": {
        "main": [
          []
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Telegram": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
