api-static/workflows/5186.json
{
  "id": 5186,
  "filename": "1075_Manual_Wordpress_Create_Triggered.json",
  "name": "Create a post and update the post in WordPress",
  "workflow_id": "60",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Wordpress with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "ManualTrigger",
    "Wordpress"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "541f9e1b0ff5f108b82109c2712815c4",
  "file_size": 1578,
  "analyzed_at": "2025-07-21 10:13:09",
  "raw_workflow": {
    "id": "60",
    "name": "Create a post and update the post in WordPress",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          570,
          260
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Wordpress",
        "type": "n8n-nodes-base.wordpress",
        "position": [
          770,
          260
        ],
        "parameters": {
          "title": "created from n8n",
          "additionalFields": {}
        },
        "credentials": {
          "wordpressApi": "wordpress"
        },
        "typeVersion": 1
      },
      {
        "name": "Wordpress1",
        "type": "n8n-nodes-base.wordpress",
        "position": [
          970,
          260
        ],
        "parameters": {
          "postId": "={{$node[\"Wordpress\"].json[\"id\"]}}",
          "operation": "update",
          "updateFields": {
            "content": "This post was created using the n8n workflow."
          }
        },
        "credentials": {
          "wordpressApi": "wordpress"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "Wordpress": {
        "main": [
          [
            {
              "node": "Wordpress1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Wordpress",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
