api-static/workflows/5194.json
{
  "id": 5194,
  "filename": "1083_Mautic_GoogleSheets_Automate_Scheduled.json",
  "name": "Mautic GoogleSheets Automate Scheduled",
  "workflow_id": "",
  "active": 0,
  "description": "Scheduled workflow integrating GoogleSheets, Mautic, Cron with 4 nodes (low complexity)",
  "trigger_type": "Scheduled",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "GoogleSheets",
    "Mautic",
    "Cron"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "181a8dd689af0ecf0e05c7900b1fb5b6",
  "file_size": 2286,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "GS Read Data2",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          240,
          750
        ],
        "parameters": {
          "range": "Data!A:P",
          "options": {
            "valueRenderMode": "FORMATTED_VALUE"
          },
          "sheetId": "1jKYwPE9DMFOYf1AeDuTvQ3GSM2GqaEJhGYNoisxSLpM"
        },
        "credentials": {
          "googleApi": "n8n API"
        },
        "typeVersion": 1
      },
      {
        "name": "Mautic",
        "type": "n8n-nodes-base.mautic",
        "position": [
          450,
          750
        ],
        "parameters": {
          "email": "={{$node[\"GS Read Data2\"].json[\"email\"]}}",
          "options": {},
          "firstName": "={{$node[\"GS Read Data2\"].json[\"firstname\"]}}",
          "additionalFields": {
            "mobile": "={{$node[\"GS Read Data2\"].json[\"mobile\"]}}"
          }
        },
        "credentials": {
          "mauticApi": "MauticAPI"
        },
        "notesInFlow": false,
        "typeVersion": 1
      },
      {
        "name": "GS Read Data2",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          240,
          750
        ],
        "parameters": {
          "range": "Data!A:P",
          "options": {
            "valueRenderMode": "FORMATTED_VALUE"
          },
          "sheetId": "1jKYwPE9DMFOYf1AeDuTvQ3GSM2GqaEJhGYNoisxSLpM"
        },
        "credentials": {
          "googleApi": "n8n API"
        },
        "typeVersion": 1
      },
      {
        "name": "Cron",
        "type": "n8n-nodes-base.cron",
        "position": [
          40,
          750
        ],
        "parameters": {
          "triggerTimes": {
            "item": [
              {
                "mode": "everyX",
                "unit": "minutes",
                "value": 5
              }
            ]
          }
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Cron": {
        "main": [
          [
            {
              "node": "GS Read Data2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GS Read Data2": {
        "main": [
          [
            {
              "node": "Mautic",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
