api-static/workflows/5276.json
{
  "id": 5276,
  "filename": "1165_Twitter_Telegram_Create_Triggered.json",
  "name": "New WooCommerce Product to Twitter and Telegram",
  "workflow_id": "85",
  "active": 0,
  "description": "Manual workflow integrating Twitter, Telegram, WooCommerceTrigger with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Twitter",
    "Telegram",
    "WooCommerceTrigger"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "3748bee88f54f746343b96c02cfc5c51",
  "file_size": 1966,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "id": 85,
    "name": "New WooCommerce Product to Twitter and Telegram",
    "nodes": [
      {
        "name": "Twitter",
        "type": "n8n-nodes-base.twitter",
        "position": [
          720,
          300
        ],
        "parameters": {
          "text": "=✨ New Product Announcement ✨\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
          "additionalFields": {}
        },
        "credentials": {
          "twitterOAuth1Api": {
            "id": "37",
            "name": "joffcom"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Telegram",
        "type": "n8n-nodes-base.telegram",
        "position": [
          720,
          500
        ],
        "parameters": {
          "text": "=✨ New Product Announcement ✨\nWe have just added {{$json[\"name\"]}}, Head to {{$json[\"permalink\"]}} to find out more.",
          "chatId": "123456",
          "additionalFields": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "56",
            "name": "Telegram account"
          }
        },
        "typeVersion": 1
      },
      {
        "name": "WooCommerce Trigger",
        "type": "n8n-nodes-base.wooCommerceTrigger",
        "position": [
          540,
          400
        ],
        "webhookId": "ab7b134b-9b2d-4e0d-b496-1aee30db0808",
        "parameters": {
          "event": "product.created"
        },
        "credentials": {
          "wooCommerceApi": {
            "id": "48",
            "name": "WooCommerce account"
          }
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "WooCommerce Trigger": {
        "main": [
          [
            {
              "node": "Twitter",
              "type": "main",
              "index": 0
            },
            {
              "node": "Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
