api-static/workflows/5325.json
{
  "id": 5325,
  "filename": "1214_Emelia_Automate.json",
  "name": "Emelia Automate",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating Emelia with 3 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Emelia"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "9c830540c8bddd0b6c8e3e540f48134f",
  "file_size": 1582,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Emelia",
        "type": "n8n-nodes-base.emelia",
        "position": [
          530,
          310
        ],
        "parameters": {
          "operation": "create",
          "campaignName": "n8n-docs"
        },
        "credentials": {
          "emeliaApi": "Emelia API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Emelia1",
        "type": "n8n-nodes-base.emelia",
        "position": [
          730,
          310
        ],
        "parameters": {
          "operation": "addContact",
          "campaignId": "603dfd70cbe34c3c9730fd09",
          "contactEmail": "email@example.com",
          "additionalFields": {
            "firstName": "NAME"
          }
        },
        "credentials": {
          "emeliaApi": "Emelia API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Emelia2",
        "type": "n8n-nodes-base.emelia",
        "position": [
          930,
          310
        ],
        "parameters": {
          "campaignId": "={{$node[\"Emelia\"].json[\"_id\"]}}"
        },
        "credentials": {
          "emeliaApi": "Emelia API Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Emelia": {
        "main": [
          [
            {
              "node": "Emelia1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Emelia1": {
        "main": [
          [
            {
              "node": "Emelia2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
