api-static/workflows/5329.json
{
  "id": 5329,
  "filename": "1218_Manual_Mailerlite_Create_Triggered.json",
  "name": "Create, update and get a subscriber using the MailerLite node",
  "workflow_id": "96",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, MailerLite with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "ManualTrigger",
    "MailerLite"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "db98cfd0a1715e95707f8723ca245cfe",
  "file_size": 2351,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "id": "96",
    "name": "Create, update and get a subscriber using the MailerLite node",
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          310,
          300
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "MailerLite",
        "type": "n8n-nodes-base.mailerLite",
        "position": [
          510,
          300
        ],
        "parameters": {
          "email": "harshil@n8n.io",
          "additionalFields": {
            "name": "Harshil"
          }
        },
        "credentials": {
          "mailerLiteApi": "mailerlite"
        },
        "typeVersion": 1
      },
      {
        "name": "MailerLite1",
        "type": "n8n-nodes-base.mailerLite",
        "position": [
          710,
          300
        ],
        "parameters": {
          "operation": "update",
          "subscriberId": "={{$node[\"MailerLite\"].json[\"email\"]}}",
          "updateFields": {
            "customFieldsUi": {
              "customFieldsValues": [
                {
                  "value": "Berlin",
                  "fieldId": "city"
                }
              ]
            }
          }
        },
        "credentials": {
          "mailerLiteApi": "mailerlite"
        },
        "typeVersion": 1
      },
      {
        "name": "MailerLite2",
        "type": "n8n-nodes-base.mailerLite",
        "position": [
          910,
          300
        ],
        "parameters": {
          "operation": "get",
          "subscriberId": "={{$node[\"MailerLite\"].json[\"email\"]}}"
        },
        "credentials": {
          "mailerLiteApi": "mailerlite"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "settings": {},
    "connections": {
      "MailerLite": {
        "main": [
          [
            {
              "node": "MailerLite1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MailerLite1": {
        "main": [
          [
            {
              "node": "MailerLite2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "MailerLite",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
