api-static/workflows/5334.json
{
  "id": 5334,
  "filename": "1223_Asana_Webhook_Automate_Webhook.json",
  "name": "Asana Webhook Automate Webhook",
  "workflow_id": "",
  "active": 0,
  "description": "Webhook workflow integrating Asana, Webhook, Set with 3 nodes (low complexity)",
  "trigger_type": "Webhook",
  "complexity": "low",
  "node_count": 3,
  "integrations": [
    "Asana",
    "Webhook",
    "Set"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "b3c09862c8f613430107b6dba8650ea4",
  "file_size": 1703,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Asana",
        "type": "n8n-nodes-base.asana",
        "position": [
          450,
          500
        ],
        "parameters": {
          "name": "={{$json[\"query\"][\"parameter\"]}}",
          "workspace": "",
          "authentication": "oAuth2",
          "otherProperties": {
            "projects": [
              ""
            ]
          }
        },
        "credentials": {
          "asanaOAuth2Api": ""
        },
        "typeVersion": 1
      },
      {
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "position": [
          250,
          500
        ],
        "webhookId": "b43ae7e2-a058-4738-8d49-ac76db6e8166",
        "parameters": {
          "path": "asana",
          "options": {
            "responsePropertyName": "response"
          },
          "responseMode": "lastNode"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          650,
          500
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "response",
                "value": "=Created Asana Task:  {{$json[\"permalink_url\"]}}"
              }
            ]
          },
          "options": {}
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Asana": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Asana",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
