api-static/workflows/5340.json
{
  "id": 5340,
  "filename": "1229_Wise_Automate.json",
  "name": "Wise Automate",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating Wise with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "Wise"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "8992adfbf4079eebc818bef1f758f0a7",
  "file_size": 2401,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Wise",
        "type": "n8n-nodes-base.wise",
        "position": [
          470,
          320
        ],
        "parameters": {
          "amount": 500,
          "resource": "quote",
          "operation": "create",
          "profileId": 16138858,
          "sourceCurrency": "EUR",
          "targetCurrency": "EUR",
          "targetAccountId": 147767974
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Wise1",
        "type": "n8n-nodes-base.wise",
        "position": [
          660,
          320
        ],
        "parameters": {
          "quoteId": "={{$json[\"id\"]}}",
          "resource": "transfer",
          "operation": "create",
          "profileId": 16138858,
          "targetAccountId": 147767974,
          "additionalFields": {
            "reference": "Thank you for the contribution"
          }
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Wise2",
        "type": "n8n-nodes-base.wise",
        "position": [
          870,
          320
        ],
        "parameters": {
          "resource": "transfer",
          "operation": "execute",
          "profileId": 16138858,
          "transferId": "={{$json[\"id\"]}}"
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Wise3",
        "type": "n8n-nodes-base.wise",
        "position": [
          1070,
          320
        ],
        "parameters": {
          "resource": "transfer",
          "transferId": "={{$node[\"Wise1\"].json[\"id\"]}}"
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Wise": {
        "main": [
          [
            {
              "node": "Wise1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wise1": {
        "main": [
          [
            {
              "node": "Wise2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wise2": {
        "main": [
          [
            {
              "node": "Wise3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
