api-static/workflows/5341.json
{
  "id": 5341,
  "filename": "1230_Wise_Airtable_Automate_Triggered.json",
  "name": "Wise Airtable Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating WiseTrigger, Wise, Set, +1 more with 4 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 4,
  "integrations": [
    "WiseTrigger",
    "Wise",
    "Set",
    "Airtable"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "2010b712553dedd15a4ad15c24b3edaf",
  "file_size": 2547,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "Wise Trigger",
        "type": "n8n-nodes-base.wiseTrigger",
        "position": [
          450,
          280
        ],
        "webhookId": "df8c0c06-7d40-4e57-aaff-60f458e6997c",
        "parameters": {
          "event": "tranferStateChange",
          "profileId": 16138858
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Wise",
        "type": "n8n-nodes-base.wise",
        "position": [
          650,
          280
        ],
        "parameters": {
          "resource": "transfer",
          "transferId": "={{$json[\"data\"][\"resource\"][\"id\"]}}"
        },
        "credentials": {
          "wiseApi": "Wise API Credentials"
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          850,
          280
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Transfer ID",
                "value": "={{$json[\"id\"]}}"
              },
              {
                "name": "Date",
                "value": "={{$json[\"created\"]}}"
              },
              {
                "name": "Reference",
                "value": "={{$json[\"reference\"]}}"
              },
              {
                "name": "Amount",
                "value": "={{$json[\"sourceValue\"]}}"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      },
      {
        "name": "Airtable",
        "type": "n8n-nodes-base.airtable",
        "position": [
          1050,
          280
        ],
        "parameters": {
          "table": "Table 1",
          "options": {},
          "operation": "append",
          "application": ""
        },
        "credentials": {
          "airtableApi": "Airtable Credentials n8n"
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "Set": {
        "main": [
          [
            {
              "node": "Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wise": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wise Trigger": {
        "main": [
          [
            {
              "node": "Wise",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
