api-static/workflows/5343.json
{
  "id": 5343,
  "filename": "1232_Manual_Splitinbatches_Automate_Triggered.json",
  "name": "Manual Splitinbatches Automate Triggered",
  "workflow_id": "",
  "active": 0,
  "description": "Manual workflow integrating ManualTrigger, Function, SplitInBatches, +2 more with 5 nodes (low complexity)",
  "trigger_type": "Manual",
  "complexity": "low",
  "node_count": 5,
  "integrations": [
    "ManualTrigger",
    "Function",
    "SplitInBatches",
    "If",
    "Set"
  ],
  "tags": [],
  "created_at": "",
  "updated_at": "",
  "file_hash": "0f0e12627d37158ec4ee98c8668442d7",
  "file_size": 2622,
  "analyzed_at": "2025-07-21 10:13:10",
  "raw_workflow": {
    "nodes": [
      {
        "name": "On clicking 'execute'",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          430,
          310
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "name": "Function",
        "type": "n8n-nodes-base.function",
        "position": [
          630,
          310
        ],
        "parameters": {
          "functionCode": "const newItems = [];\n\nfor (let i=0;i<10;i++) {\n  newItems.push({json:{i}});\n}\n\nreturn newItems;"
        },
        "typeVersion": 1
      },
      {
        "name": "SplitInBatches",
        "type": "n8n-nodes-base.splitInBatches",
        "position": [
          830,
          310
        ],
        "parameters": {
          "options": {},
          "batchSize": 1
        },
        "typeVersion": 1
      },
      {
        "name": "IF",
        "type": "n8n-nodes-base.if",
        "position": [
          1030,
          460
        ],
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{$node[\"SplitInBatches\"].context[\"currentRunIndex\"];}}",
                "value2": 5,
                "operation": "equal"
              }
            ],
            "boolean": []
          }
        },
        "typeVersion": 1
      },
      {
        "name": "Set",
        "type": "n8n-nodes-base.set",
        "position": [
          1230,
          360
        ],
        "parameters": {
          "values": {
            "string": [
              {
                "name": "Message",
                "value": "Loop Ended"
              }
            ]
          },
          "options": {},
          "keepOnlySet": true
        },
        "typeVersion": 1
      }
    ],
    "connections": {
      "IF": {
        "main": [
          [
            {
              "node": "Set",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "SplitInBatches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Function": {
        "main": [
          [
            {
              "node": "SplitInBatches",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SplitInBatches": {
        "main": [
          [
            {
              "node": "IF",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On clicking 'execute'": {
        "main": [
          [
            {
              "node": "Function",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}
